<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8">
    <title id="title">NBA News</title>
    <link rel="stylesheet" href="/static/styles.css?v=1">
</head>

<body>
    <h1>NBA News</h1>
    <div class="container" id="container">
        <div class="news-list" id="news-list">
            <p>Loading...</p>
        </div>
        <div class="news-detail" id="news-detail"></div>
    </div>
    <script src="/static/scripts.js?v=1"></script>
    <footer>
        <p>2025 . Yi-chen Lai.</p>
    </footer>
</body>

</html>